<section class="hero is-medium is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Lawson Busch</h1>
      <h2 class="subtitle">Full Stack Software Engineer</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">About</h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>,
      like the one you're currently reading
    </h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Career</h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>,
      like the one you're currently reading
    </h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Interests</h1>
    <h2 class="subtitle">
      A simple container to divide your page into <strong>sections</strong>,
      like the one you're currently reading
    </h2>
  </div>
</section>
