<div class="center">
  <div class="horizontal">
    <fa-icon [icon]="triangleIcon" size="10x"></fa-icon>
  </div>
  <!-- <div class="center">
        <fa-icon [icon]="triangleIcon" size="10x"></fa-icon>
      </div> -->
  <div class="notification has-text-centered">
    Ruh Roh! The page you are looking for cannot be found!
  </div>
</div>
<div class="columns is-flex is-mobile is-vcentered is-centered">
  <div class="column is-half">
    <div class="card">
      <!-- <div class="center">
        <fa-icon [icon]="triangleIcon" size="10x"></fa-icon>
      </div> -->
      <div class="card-content has-text-centered">
        Ruh Roh! The page you are looking for cannot be found!
      </div>
    </div>
  </div>
</div>
